.cs-message--incoming .cs-message__content {
  background-color: #FFFFFF !important; 
  color: #000000; 
  border-radius: 16px; 
  padding: 12px 16px; 
  
}

.cs-message--outgoing .cs-message__content {
  background-color: #FFFFFF !important; 
  color: #000000; 
  border-radius: 16px; 
  padding: 12px 16px; 
}