.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* 화면 전체 높이 */
  background-color: #FFFFFF;
}

.loading-text {
  font-size: 24px;
  margin-bottom: 20px;
}

.loading-gif {
  width: 200px; /* GIF 파일의 너비 */
  height: auto; /* 높이는 자동으로 조정 */
}
