.survey-wrapper {
  padding: 20px;
  font-family: sans-serif;
}

.title {
  font-size: 20px;
  margin-top: 20px;
  text-align: left;
}

.description {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.radio-group label {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
}

.input-wrapper {
  margin-bottom: 16px;
}

.input-wrapper input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.submit-btn {
  width: 100%;
  background-color: #0047bb;
  color: white;
  padding: 14px;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  display: block;
}

.select-btn,
.multi-check-option {
  width: 70%;
  padding: 8px 12px;
  
  margin: 4px 0; 
  background-color: transparent;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
  color: #333;
  text-align: left;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 12px; 
  height: 36px;  
}

.select-btn::after,
.multi-check-option::after {
  display: none;
}

.select-btn::before,
.multi-check-option::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid #ccc;
  border-radius: 50%;
  background-color: #fff;
}

.select-btn.selected::before,
.multi-check-option.selected::before {
  border-color: #0047bb;
  background-color: #0047bb;
}

textarea {
  width: 100%;
  padding: 14px 20px;
  font-size: 16px;
  border: 1.5px solid #d1d1d1;
  border-radius: 20px;
  resize: none;
  box-sizing: border-box;
}

.progress-bar {
  width: 100%;
  height: 5px;
  background: #eee;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  background: #f9c207;
  transition: width 0.3s ease-in-out;
}

.logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.logo-image {
  width: 120px;
  height: auto;
  margin-right: 10px;
  margin-left: 0;
}

.answer-text {
  font-size: 16px;
  padding: 12px 20px;
  background-color: #f5f5f5;
  border-radius: 25px;
  margin-bottom: 16px;
  color: #333;
}

.question-section {
  margin-bottom: 30px; /* 각 질문 섹션 아래 간격 */
}

.multi-check-item {
  margin-bottom: 12px; /* 멀티 체크 항목 자체의 아래 간격 */
  display: flex;
  flex-direction: column;
}

.multi-check-buttons {
  display: flex;
  flex-direction: column;
  
  gap: 5px; 
}

.multi-check-option.selected {
  background-color: #eef4ff;
  font-weight: bold;
  color: #0047bb;
}

.select-btn.selected {
  background-color: #eef4ff;
  font-weight: bold;
  color: #0047bb;
}


.start-select {
  display: flex;
  flex-direction: column;
  
  gap: 8px; 
  margin-bottom: 20px; 
}

.autocomplete-input {
  width: 100%;
  padding: 10px 16px;
  border: 1.5px solid #ccc;  /* 연한 회색 테두리 */
  border-radius: 20px;       /* 둥글게 */
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
}
