.mobile-wrapper {
  display: flex;
  flex-direction: column; /* 상단부터 아래로 배치 */
  align-items: center;
  justify-content: flex-start; /* 중앙 정렬 ➝ 상단 정렬 */
  height: 100vh;
  padding-top: 16px;
}


  
  .mobile-container {
    width: 375px;
    height: 812px;
    background-color: #0546BE; 
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: #FDC500;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
  }
  